# Build output
bin/
obj/

# JetBrains Rider
.idea/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# .NET
*.cake
.build.sh

# macOS
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# Logs
*.log
logs/

# Environment / secrets
*.env
.env
!.env.example
appsettings.Development.json
appsettings.Local.json
.env.prod

# Doc deploy
.txt
